body {
  margin: 0;
  padding: 0;
}

#results-container {
  position: fixed;
  top: 2vw;
  left: 2vw;
  height: 4.5em;
}

#results-container img {
  height: 100%;
  margin-right: 1em;
}

#dice {
  position: fixed;
  top: 2vw;
  right: 2vw;
  max-width: 8.5em;
  height: min-content;
  background: none;
  border: none;
  cursor: pointer;
}

#dice img {
  width: 100%;
}
